.auth-container-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #f8f9fa, #e9ecef);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.auth-title-login {
  font-size: 32px;
  margin-bottom: 30px;
  color: #343a40;
}

.auth-card-login {
  background: white;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;

  .btn {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
  
    &:hover {
      background-color: #0056b3;
    }
    
    &.disable {
      background: gray;
      border: 1px solid gray;
      &:hover {
        cursor: not-allowed;
        background-color: gray;
      }
    }
  }
  
}

.input {
  margin-bottom: 20px;
  width: 100%;

  label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
    color: #495057;
  }

  input {
    width: inherit;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 6px;
    font-size: 14px;
    transition: 0.2s;

    &:focus {
      outline: none;
      border-color: #495057;
      box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
    }
  }
}

.switcher-button {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 400px;

  .register-button {
    padding: 10px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid #6c757d;
    background-color: white;
    transition: 0.3s;
    color: #6c757d;

    &:hover {
      background-color: #6c757d;
      color: white;
    }
  }
}
